body {
    margin: 0 auto;
}

main {
    margin: 20px;
}

.navbar ul {
    list-style-type: none;
    background-color: #d4a373;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    padding: 20px;
}

.navbar a {
    color: #582f0e;
    font-family: 'Times New Roman';
    text-decoration: none;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    background-color: #b8895a;
    transition-duration: 0.25s;
}

.navbar img {
    width: 20px;
    margin-right: 8px;
    mix-blend-mode: multiply;
}

.title-name {
    color: #ff7096;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Times New Roman';
}

.info1-button {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #ff7096;
    background-color: rgb(255, 233, 254);
    border: none;
    display: block;
}

.info1-button:hover {
    cursor: pointer;
}

.info1-button:active {
    color: white;

}

.info-1 {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 20px;
}

.info {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 2opx;
}

.info-bold {
    color: #ff7096;
}

.Cutting-Plastic {
    margin-left: 20px;
}

.recycling-image {
    width: 100px;
    margin-left: 20px;
}

.bioplastics {
    width: 300px;
    margin-left: 20px;
}

.raising-awareness {
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: left;
    padding: 3px;
    background-color: #d4a373;
    margin-top: 60px;
}

.footer-text {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #582f0e;
    font-size: 20px;

}